@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-repeat: no-repeat;
    background-color: black;
}
.container {
    min-height: 100vh;
}

.container .navbar {
    width: 100%;
    height: 80px;
    background-color: rgba(151, 145, 145, 0.247);
}
.navbar .logo {
    display: inline-block;
    margin-left: 30px;
    margin-top: -47px;
}
.navbar ul {
    float: right;
    margin-right: 70px;
    margin-top: 10px;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 12px;
    line-height: 62px;
}
.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 8px 15px;
    font-family: Outfit;
    transition: 0.9s;
    user-select: none;
}
.navbar ul li.dropdown {
    position: relative;
}
.navbar ul li .dropdown-menu {
    display: none;
    position: absolute;
    background: rgba(51, 48, 48, 0.95);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 100;
    border-radius: 8px;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    pointer-events: auto;   

}

.navbar ul li.dropdown:hover > .dropdown-menu,
.navbar ul li .dropdown-menu:hover {
    display: block;
}

.navbar ul li .dropdown-menu li {
    display: block;
    margin: 0;
    line-height: 40px;
}
.navbar ul li .dropdown-menu li a {
    display: block;
    text-align: center;
    padding: 15px 15px;
    color: #fff;
    background: none;
    border-radius: 0;
    font-size: 18px;
    transition: background 0.3s, color 0.3s;

}
.navbar ul li .dropdown-menu .redteam a:hover {
    background: rgba(151, 145, 145, 0.247);
    color: #ff0000da;
    transition: calc(0.7s);
}
.navbar ul li .dropdown-menu .redteam a:hover {
    border-bottom: solid #ff0000da 1px;
}
.navbar ul li .dropdown-menu .blueteam a:hover {
    background: rgba(151, 145, 145, 0.247);
    color: #002fff;
    transition: calc(0.7s);
}

.navbar ul li .dropdown-menu .blueteam a:hover {
    border-bottom: solid #002fff 1px;
}

.navbar ul li .dropdown-menu .blackhat a:hover {
    background: rgba(151, 145, 145, 0.247);
    color: #000000;
    transition: calc(0.7s);
}
.navbar ul li .dropdown-menu .blackhat a:hover {
    border-bottom: solid #000000 1px;
}


.navbar ul li .dropdown-menu .whitehat a:hover {
    background: rgba(151, 145, 145, 0.247);
    color: #c0c0c0;
    transition: calc(0.7s);
}
.navbar ul li .dropdown-menu .whitehat a:hover {
    border-bottom: solid #c0c0c0 1px;
}

.navbar ul li.dropdown:hover > .dropdown-menu {
    display: block;
}
.navbar ul li a:hover,
.navbar ul li a.active {
    background-color: rgb(63, 61, 61);
    color: black;
    
    
}
h2{
    font-family: 'Playfair Display', serif;
    color: rgba(255, 255, 255, 0.712);
    text-align: center;
    margin-bottom: 20px;
    animation: pulse 2s infinite;
}
.iletisim{
    position: absolute;
    left: 700px;
    top: 250px;
    width: 480px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(245, 243, 243, 0.226);
    backdrop-filter: blur(10px);
    background-color: #ffffff10;
}
label{
    display: block;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(255, 255, 255, 0.836);
    margin-bottom: 5px;
    font-size: 18px;
}
input, textarea{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(94, 94, 94, 0.918);
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff2d;
}

button{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #b8b8b8be;
    color: rgba(255, 255, 255, 0.788);
    border: none;
    cursor: pointer;
    transition: 0.9s;
}
button:hover{
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
    text-shadow: #c0c0c0 0px 0px 10px;
    transition: 0.8s;
}

@keyframes pulse {
    0% {
        text-shadow: #fdfdfd 0px 0px 5px;
    }
    50% {
        text-shadow: #ffffff46 0px 0px 5px;
    }
    100% {
        text-shadow: #ffffff 0px 0px 5px;
    }
}