@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-repeat: no-repeat;
    background-color: black;
}
.container {
    min-height: 100vh;
}

.container .navbar {
    width: 100%;
    height: 80px;
    background-color: rgba(151, 145, 145, 0.247);
}
.navbar .logo {
    display: inline-block;
    margin-left: 30px;
    margin-top: -47px;
}
.navbar ul {
    float: right;
    margin-right: 70px;
    margin-top: 10px;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 12px;
    line-height: 62px;
}
.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 8px 15px;
    font-family: Outfit;
    transition: 0.9s;
    user-select: none;
}
.navbar ul li.dropdown {
    position: relative;
}
.navbar ul li .dropdown-menu {
    display: none;
    position: absolute;
    background: rgba(51, 48, 48, 0.95);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 100;
    border-radius: 8px;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    pointer-events: auto;   

}

.navbar ul li.dropdown:hover > .dropdown-menu,
.navbar ul li .dropdown-menu:hover {
    display: block;
}

.navbar ul li .dropdown-menu li {
    display: block;
    margin: 0;
    line-height: 40px;
}
.navbar ul li .dropdown-menu li a {
    display: block;
    text-align: center;
    padding: 15px 15px;
    color: #fff;
    background: none;
    border-radius: 0;
    font-size: 18px;
    transition: background 0.3s, color 0.3s;

}
.navbar ul li .dropdown-menu .redteam a:hover {
    background: rgba(151, 145, 145, 0.247);
    color: #ff0000da;
    transition: calc(0.7s);
}
.navbar ul li .dropdown-menu .redteam a:hover {
    border-bottom: solid #ff0000da 1px;
}
.navbar ul li .dropdown-menu .blueteam a:hover {
    background: rgba(151, 145, 145, 0.247);
    color: #002fff;
    transition: calc(0.7s);
}

.navbar ul li .dropdown-menu .blueteam a:hover {
    border-bottom: solid #002fff 1px;
}

.navbar ul li .dropdown-menu .blackhat a:hover {
    background: rgba(151, 145, 145, 0.247);
    color: #000000;
    transition: calc(0.7s);
}
.navbar ul li .dropdown-menu .blackhat a:hover {
    border-bottom: solid #000000 1px;
}


.navbar ul li .dropdown-menu .whitehat a:hover {
    background: rgba(151, 145, 145, 0.247);
    color: #c0c0c0;
    transition: calc(0.7s);
}
.navbar ul li .dropdown-menu .whitehat a:hover {
    border-bottom: solid #c0c0c0 1px;
}

.navbar ul li.dropdown:hover > .dropdown-menu {
    display: block;
}
.navbar ul li a:hover,
.navbar ul li a.active {
    background-color: rgb(63, 61, 61);
    color: black;
    
    
}
.aciklama ul {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
} 
.aciklama li{
    list-style-type: none;
    padding-bottom: 20px;
    font-family: Outfit;
}

#ustyazi{
    color: #9b9a9a;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    position: absolute;
     font-family: 'Playfair Display', serif;
    top: 280px;
    font-size: 80px;
    left: 650px;
    text-shadow: 5px 2px 2px #1c611aa6;

    opacity: 1;
    transition: all 0.9s ease;
    @starting-style {
    text-shadow: #0f5207  5px 20px;
    opacity: 0;
    translate: 0 -80px;  
}
}
#imgbir{
    width: 400px;
    float: left;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 270px;
    box-shadow: 4px 8px 13px #263b2756;
}
#baslikbir{
    font-size: 55px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1d350948;
    border-radius: 20px 10px 1px 1px ;
    color: #d8d7d796;
    margin-bottom: 15px;
    text-shadow: 1px 2px 2px #b3b3b3;
    
}
.ornekbir{
    width: 1550px;
    top: 500px;
    left: 20px;
    font-family: 'Rubik Doodle Shadow';
    position: relative;
    margin-top: 100px;
    font-size: 20px;
    color: rgba(207, 207, 207, 0.76);

    background-color: #202c1f2d;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: #6e6d6d 0px 4px 6px -1px, #6e6d6d 0px 2px 4px -1px;
}

#imgiki{
    width: 400px;
    float: left;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 270px;
    box-shadow: 4px 8px 13px #ffffff1e;
}
#baslikiki{
    font-size: 55px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1d350948;
    border-radius: 20px 10px 1px 1px ;
    color: #d8d7d796;
    margin-bottom: 15px;
    text-shadow: 1px 2px 2px #b3b3b3;
    
}
.ornekiki{
    width: 1550px;
    top: 330px;
    left: 350px;
    font-family: 'Rubik Doodle Shadow';
    position: relative;
    margin-top: 200px;
    font-size: 20px;
    color: rgba(207, 207, 207, 0.76);

    background-color: #202c1f2d;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: #6e6d6d 0px 4px 6px -1px, #6e6d6d 0px 2px 4px -1px;
}

#imguc{
    width: 400px;
    float: left;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 270px;
    box-shadow: 4px 8px 13px #ffffff1e;
}
#baslikuc{
    font-size: 55px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1d350948;
    border-radius: 20px 10px 1px 1px ;
    color: #d8d7d796;
    margin-bottom: 15px;
    text-shadow: 1px 2px 2px #b3b3b3;
    
}
.ornekuc{
    width: 1550px;
    top: 170px;
    left: 20px;
    font-family: 'Rubik Doodle Shadow';
    position: relative;
    margin-top: 200px;
    font-size: 20px;
    color: rgba(207, 207, 207, 0.76);

    background-color: #202c1f2d;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: #6e6d6d 0px 4px 6px -1px, #6e6d6d 0px 2px 4px -1px;
}
#imgdort{
    width: 400px;
    float: left;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 270px;
    box-shadow: 4px 8px 13px #ffffff1e;
}
#baslikdort{
    font-size: 55px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1d350948;
    border-radius: 20px 10px 1px 1px ;
    color: #d8d7d796;
    margin-bottom: 15px;
    text-shadow: 1px 2px 2px #b3b3b3;
    
}
.ornekdort{
    width: 1550px;
    top: 20px;
    left: 350px;
    font-family: 'Rubik Doodle Shadow';
    position: relative;
    margin-top: 200px;
    font-size: 20px;
    color: rgba(207, 207, 207, 0.76);

    background-color: #202c1f2d;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: #6e6d6d 0px 4px 6px -1px, #6e6d6d 0px 2px 4px -1px;
}


#imgbes{
    width: 400px;
    float: left;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 270px;
    box-shadow: 4px 8px 13px #ffffff1e;
}
#baslikbes{
    font-size: 55px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1d350948;
    border-radius: 20px 10px 1px 1px ;
    color: #d8d7d796;
    margin-bottom: 15px;
    text-shadow: 1px 2px 2px #b3b3b3;
    
}
.ornekbes{
    width: 1550px;
    left: 20px;
    font-family: 'Rubik Doodle Shadow';
    position: relative;
    margin-top: 60px;
    font-size: 20px;
    color: rgba(207, 207, 207, 0.76);

    background-color: #202c1f2d;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: #6e6d6d 0px 4px 6px -1px, #6e6d6d 0px 2px 4px -1px;
}

