@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-repeat: no-repeat;
    background-color: black;
}
.container {
    min-height: 100vh;
}

.container .navbar {
    width: 100%;
    height: 80px;
    background-color: rgba(151, 145, 145, 0.247);
}
.navbar .logo {
    display: inline-block;
    margin-left: 30px;
    margin-top: -47px;
}
.navbar ul {
    float: right;
    margin-right: 70px;
    margin-top: 10px;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 12px;
    line-height: 62px;
}
.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 8px 15px;
    font-family: Outfit;
    transition: 0.9s;
    user-select: none;
}
.navbar ul li.dropdown {
    position: relative;
}
.navbar ul li .dropdown-menu {
    display: none;
    position: absolute;
    background: rgba(51, 48, 48, 0.95);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 100;
    border-radius: 8px;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    pointer-events: auto;   

}

.navbar ul li.dropdown:hover > .dropdown-menu,
.navbar ul li .dropdown-menu:hover {
    display: block;
}

.navbar ul li .dropdown-menu li {
    display: block;
    margin: 0;
    line-height: 40px;
}
.navbar ul li .dropdown-menu li a {
    display: block;
    text-align: center;
    padding: 15px 15px;
    color: #fff;
    background: none;
    border-radius: 0;
    font-size: 18px;
    transition: background 0.3s, color 0.3s;

}
.navbar ul li .dropdown-menu .redteam a:hover {
    background: rgba(151, 145, 145, 0.247);
    color: #ff0000da;
    transition: calc(0.7s);
}
.navbar ul li .dropdown-menu .redteam a:hover {
    border-bottom: solid #ff0000da 1px;
}
.navbar ul li .dropdown-menu .blueteam a:hover {
    background: rgba(151, 145, 145, 0.247);
    color: #002fff;
    transition: calc(0.7s);
}

.navbar ul li .dropdown-menu .blueteam a:hover {
    border-bottom: solid #002fff 1px;
}

.navbar ul li .dropdown-menu .blackhat a:hover {
    background: rgba(151, 145, 145, 0.247);
    color: #000000;
    transition: calc(0.7s);
}
.navbar ul li .dropdown-menu .blackhat a:hover {
    border-bottom: solid #000000 1px;
}


.navbar ul li .dropdown-menu .whitehat a:hover {
    background: rgba(151, 145, 145, 0.247);
    color: #c0c0c0;
    transition: calc(0.7s);
}
.navbar ul li .dropdown-menu .whitehat a:hover {
    border-bottom: solid #c0c0c0 1px;
}

.navbar ul li.dropdown:hover > .dropdown-menu {
    display: block;
}
.navbar ul li a:hover,
.navbar ul li a.active {
    background-color: rgb(63, 61, 61);
    color: black;
    
    
}
.ortayazi {
    text-align: center;
    color: rgb(158, 151, 151);
    position: relative;
    top: 250px;
    font-size: 30px;
    user-select: none;


    opacity: 1;
    transition: all 1.5s ease;
    @starting-style {
    text-shadow: rgb(0, 132, 255)  5px 20px;
    opacity: 0;
    translate: 0 -80px; 
}
}
#cyber{
    color: #069AF3;
    font-size: 80px;
    text-shadow: 2px 2px 4px #444444;
}
#tanitim{
    margin-top: 433px;
    text-align: center;
    color: rgba(255, 255, 255, 0.445);
    font-size: 15px;
    font-family: 'B612 Mono', monospace;
}
